<%- include("head.partial.ejs") %>

<main>
    <h1><%= title %></h1>
      <ul id="matches">
        <% matches.forEach(function(match){ %>
        <li><a href="/cs/<%= match.id %>"><%= match.name %></a></li>
        <% }) %>
      </ul>
    <div>
        <h3>Nowy Mecz</h3>
        <%- include("forms/new_match.ejs") %>
    </div>
</main>

<%- include("foot.partial.ejs") %> 