<%- include("head.partial.ejs") %>

    <main>
      <% if (locals.errors && errors.length > 0) { %>
      <ul id="errors">
        <%errors.forEach(function(error){ %>
        <li><%= error %></li>
        <% }) %>
      </ul>
      <% } %>
      <h1><%= title %></h1>
        <h2>Wybrane mecze do pokazania</h2>
      <table id="matches">
        <thead>
          <tr>
            <% Performance.statistics.forEach(function(stat) { %>
              <th><%= stat.name %></th>
            <% }); %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% Performance.statistics.forEach(function(stat) { %>
              <td><%= stat.value %></td>
            <% }); %>
          </tr>
        </tbody>
      </table>
        <div>
          <h2>new Performance to add</h2>
          <%- include("forms/new_performance.ejs") %>
        </div>
    </main>

<%- include("foot.partial.ejs") %>