<form id="match_form" action="/cs/new" method="POST">
  <div>
    <label for="match_name">mapa</label>
    <select name="name" id="match_name" required>
      <% maps.forEach(map => { %>
        <option value="<%= map %>" <%= name === map ? 'selected' : '' %>>
          <%= map %>
        </option>
      <% }) %>
    </select>
  </div>
  <div>
    <label for="match_date">data</label>
    <input type="date" name="date" id="match_date" required
      <% if (locals.date){ %> value="<%= date %>" <% } %>
    />
  </div>
  <div>
    <label for="match_amount">ilość meczy zagranych danego dnia</label>
    <input type="number" name="amount" id="match_amount" required min="1" max="11"
      <% if (locals.amount){ %> value="<%= amount %>" <% } %>
    />
  </div>
  <input type="hidden" id="mapName" name="mapName">
  <div>
    <input type="submit" value="Dodaj">
  </div>
</form>

<script>
  document.getElementById('match_form').addEventListener('submit', function (e) {
    const map = document.getElementById('match_name').value;
    const date = document.getElementById('match_date').value;
    const amount = document.getElementById('match_amount').value;

    const formattedDate = date.split('-').reverse().join('.');
    const combined = `${map} ${formattedDate} m${amount}`;

    document.getElementById('mapName').value = combined;
  });
</script>